<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Leases</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table *ngIf="leases.length > 0" class="table table-bordered">
            <tr>
              <th style="width: 10px">#</th>
              <th>Customer</th>
              <th>Property</th>
              <th>Start date</th>
              <th>End date</th>
              <th>Rent per month (TSH)</th>
              <th>Payment interval (months)</th>
              <th>Duration (months)</th>
              <th>Entered</th>
              <th>Options</th>
            </tr>
            <tr *ngFor="let lease of leases">
              <td>{{ lease.id }}</td>
              <td>
                <a routerLink="/customers/{{ lease.customer.id }}">
                  {{ lease.customer.first_name }} {{ lease.customer.middle_name }} {{ lease.customer.last_name }}
                </a>
              </td>
              <td>
                <a routerLink="/properties/{{ lease.property.id }}">
                  {{ lease.property.name }}
                </a>
              </td>
              <td>{{ lease.start_date | date }}</td>
              <td>{{ lease.end_date | date }}</td>
              <td class="text-right">{{ lease.rent_per_month | number }}</td>
              <td>{{ lease.payment_interval }}</td>
              <td>{{ lease.contract_duration }}</td>
              <td>{{ lease.created_at | date }}</td>
              <td>
                <a routerLink="/leases/{{  lease.id }}"><i class="fa fa-eye"></i></a>
              </td>
            </tr>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <a routerLink="/leases/create" class="btn btn-primary">Create</a>  
    </div>
  </div>