<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Leases</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered">
            <tr>
              <th style="width: 10px">#</th>
              <th>Customer</th>
              <th>Property</th>
              <th>Start date</th>
              <th>End date</th>
              <th>Rent per month (TSH)</th>
              <th>Payment interval (months)</th>
              <th>Duration (months)</th>
              <th>Options</th>
            </tr>
            <tr *ngFor="let lease of leases">
              <td>{{ lease.id }}</td>
              <td>
                <a routerLink="/customers/{{ lease.customer.id }}">
                  {{ lease.customer.first_name }} {{ lease.customer.middle_name }} {{ lease.customer.last_name }}
                </a>
              </td>
              <td>
                <a routerLink="/properties/{{ lease.property.id }}">
                  {{ lease.property.name }}
                </a>
              </td>
              <td>{{ lease.start_date }}</td>
              <td>{{ lease.end_date }}</td>
              <td>{{ lease.rent_per_month }}</td>
              <td>{{ lease.payment_interval }}</td>
              <td>{{ lease.contract_duration }}</td>
              <td>
                <a routerLink="/leases/{{  lease.id }}"><i class="fa fa-eye"></i></a>
              </td>
            </tr>
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>
      </div>
      <!-- /.box -->   
    </div>
  </div>