<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Customer Payments</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table *ngIf="customerPayments.length > 0" class="table table-bordered">
            <tr>
              <th style="width: 10px">#</th>
              <th>Transaction Date</th>
              <th>Amount (TSH)</th>
              <th>Amount Type</th>
              <th>Transaction Reference</th>
              <th>Transaction Date</th>
              <th>Receipt Number</th>
              <th>Payer Name</th>
              <th>Payment Description</th>
            </tr>
            <tr *ngFor="let customerPayment of customerPayments">
              <td>{{ customerPayment.id }}</td>
              <td>{{ customerPayment.transaction_date }}</td>
              <td>{{ customerPayment.amount }}</td>
              <td>{{ customerPayment.amount_type }}</td>
              <td>{{ customerPayment.transaction_reference }}</td>
              <td>{{ customerPayment.transaction_date }}</td>
              <td>{{ customerPayment.receipt_number }}</td>
              <td>{{ customerPayment.payer_name }}</td>
              <td>{{ customerPayment.payment_description }}</td>
            </tr>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->   
    </div>
  </div>