<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Clients</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th style="width: 10px">#</th>
            <th>Name</th>
            <th>Type</th>
            <th>Phone</th>
            <th>Email</th>
            <th>TIN</th>
            <th>Physical Address</th>
            <th>Postal Address</th>
          </tr>
          <tr *ngFor="let client of clients">
            <td>{{ client.id }}</td>
            <td>{{ client.first_name }} {{ client.middle_name }} {{ client.last_name }}</td>
            <td>{{ client.client_type.name }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.tin }}</td>
            <td>{{ client.physical_address }}</td>
            <td>{{ client.postal_address }}</td>
          </tr>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
    </div>
    <!-- /.box -->   
  </div>
</div>