<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Districts</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table *ngIf="districts.length > 0" class="table table-bordered">
            <tr>
              <th style="width: 10px">#</th>
              <th>Name</th>
              <th>Region</th>
              <th>Added</th>
            </tr>
            <tr *ngFor="let district of districts">
              <td>{{ district.id }}</td>
              <td>{{ district.name }}</td>
              <td>{{ district.region.name }}</td>
              <td>{{ district.created_at | date }}</td>
            </tr>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <a routerLink="/districts/create" class="btn btn-primary">Add</a> 
    </div>
  </div>