<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Wards</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table *ngIf="wards.length > 0" class="table table-bordered">
            <tr>
              <th style="width: 10px">#</th>
              <th>Name</th>
              <th>District</th>
              <th>Added</th>
            </tr>
            <tr *ngFor="let ward of wards">
              <td>{{ ward.id }}</td>
              <td>{{ ward.name }}</td>
              <td>{{ ward.district.name }}</td>
              <td>{{ ward.created_at | date }}</td>
            </tr>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <a routerLink="/wards/create" class="btn btn-primary">Add</a> 
    </div>
  </div>