<ul class="sidebar-menu" data-widget="tree">
  <li class="header">GENERAL</li>
  <!-- Optionally, you can add icons to the links -->
  <li class="active"><a [routerLink]="['/']"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
  <li class="treeview">
      <a href="#"><i class="fa fa-building"></i> <span>Properties</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
      </a>
      <ul class="treeview-menu">
        <li><a [routerLink]="['/properties']">List</a></li>
        <li><a [routerLink]="['/properties/create']">Create</a></li>
      </ul>
  </li>
  <li class="treeview">
      <a href="#"><i class="fa fa-black-tie"></i> <span>Clients</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
      </a>
      <ul class="treeview-menu">
        <li><a [routerLink]="['/clients']">List</a></li>
        <li><a [routerLink]="['/clients/create']">Create</a></li>
      </ul>
  </li>
  <li class="treeview">
    <a href="#"><i class="fa fa-users"></i> <span>Customers</span>
      <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
      <li><a [routerLink]="['/customers']">List</a></li>
      <li><a [routerLink]="['/customers/create']">Create</a></li>
    </ul>
  </li>
</ul>