<ul class="sidebar-menu" data-widget="tree">
  <li class="header">GENERAL</li>
  <!-- Optionally, you can add icons to the links -->
  <li class="active"><a [routerLink]="['/']"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
  <li class="treeview">
      <a href="#"><i class="fa fa-building"></i> <span>Properties</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
      </a>
      <ul class="treeview-menu">
        <li><a [routerLink]="['/properties']">List</a></li>
        <li><a [routerLink]="['/properties/create']">Create</a></li>
      </ul>
  </li>
  <li class="treeview">
      <a href="#"><i class="fa fa-square"></i> <span>Rooms</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
      </a>
      <ul class="treeview-menu">
        <li><a [routerLink]="['/rooms']">List</a></li>
        <li><a [routerLink]="['/rooms/create']">Create</a></li>
      </ul>
  </li>  
  <li class="treeview">
      <a href="#"><i class="fa fa-black-tie"></i> <span>Clients</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
      </a>
      <ul class="treeview-menu">
        <li><a [routerLink]="['/clients']">List</a></li>
        <li><a [routerLink]="['/clients/create']">Create</a></li>
      </ul>
  </li>
  <li class="treeview">
    <a href="#"><i class="fa fa-users"></i> <span>Customers</span>
      <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
      <li><a [routerLink]="['/customers']">List</a></li>
      <li><a [routerLink]="['/customers/create']">Create</a></li>
    </ul>
  </li>
  <li><a [routerLink]="['/leases']"><i class="fa fa-file-text"></i> <span>Leases</span></a></li>
  <li><a [routerLink]="['/leases/create']"><i class="fa fa-file-text"></i> <span>Create Lease</span></a></li>
  <li class="treeview">
      <a href="#"><i class="fa fa-money"></i> <span>Payments</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
      </a>
      <ul class="treeview-menu">
        <li><a [routerLink]="['/customer-payments']">Customer Payments</a></li>
        <li><a [routerLink]="['/client-payments']">Client Payments</a></li>
      </ul>
  </li>  
  <li class="treeview">
      <a href="#"><i class="fa fa-file"></i> <span>Reports</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
      </a>
      <ul class="treeview-menu">
        <li><a [routerLink]="['/invoices']">Invoices</a></li>
      </ul>
  </li>  
  <li class="treeview">
      <a href="#"><i class="fa fa-wrench"></i> <span>Settings</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
      </a>
      <ul class="treeview-menu">
        <li><a [routerLink]="['/real-estate-agents']">Real Estate Agents</a></li>
        <li><a [routerLink]="['/accounts']">Accounts</a></li>
        <li><a [routerLink]="['/users']">Users</a></li>
        <li><a [routerLink]="['/roles']">Roles</a></li>
        <li><a [routerLink]="['/property-types']">Property Types</a></li>
        <li><a [routerLink]="['/client-types']">Client Types</a></li>
        <li><a [routerLink]="['/customer-types']">Customer Types</a></li>
        <li><a [routerLink]="['/regions']">Regions</a></li>
        <li><a [routerLink]="['/districts']">Districts</a></li>
        <li><a [routerLink]="['/wards']">Wards</a></li>
        <li><a [routerLink]="['/villages']">Villages</a></li>
      </ul>
  </li>  
</ul>