<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Customers</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table *ngIf="customers.length > 0" class="table table-bordered">
            <tr>
              <th style="width: 10px">#</th>
              <th>Name</th>
              <th>Code</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Type</th>
              <th>TIN</th>
              <th>Postal Address</th>
              <th>Physical Address</th>
              <th>View</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            <tr *ngFor="let customer of customers">
              <td>{{ customer.id }}</td>
              <td>{{ customer.first_name }} {{ customer.middle_name }} {{ customer.last_name }}</td>
              <td>{{ customer.code }}</td>
              <td>{{ customer.phone }}</td>
              <td>{{ customer.email }}</td>
              <td>{{ customer.customer_type.name }}</td>
              <td>{{ customer.tin }}</td>
              <td>{{ customer.postal_address }}</td>
              <td>{{ customer.physical_address }}</td>
              <td>
                <a routerLink="/customers/{{customer.id}}"><i class="fa fa-eye"></i></a>
              </td>
              <td>
                <a routerLink="/customers/{{customer.id}}/edit"><i class="fa fa-edit"></i></a>
              </td>
              <td>
                
              </td>
            </tr>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <a routerLink="/customers/create" class="btn btn-primary">Add</a> 
    </div>
  </div>