<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Properties</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table *ngIf="properties.length > 0" class="table table-bordered">
          <tr>
            <th style="width: 10px">#</th>
            <th>Name</th>
            <th>Type</th>
            <th>Client</th>
            <th>Location</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          <tr *ngFor="let property of properties">
            <td>{{ property.id }}</td>
            <td>{{ property.name }}</td>
            <td>{{ property.property_type.name }}</td>
            <td>
              <a routerLink="/clients/{{ property.client.id }}">
                  {{ property.client.first_name }} {{ property.client.middle_name }} {{ property.client.last_name }}
              </a>
              ({{ property.client.client_type.name }})
            </td>
            <td>{{ property.village.name }}</td>
            <td>
                <a routerLink="/properties/{{ property.id }}">
                  <div class="fa fa-eye"></div>
                </a>              
            </td>
            <td>
                <a routerLink="/properties/{{ property.id }}/edit">
                  <div class="fa fa-edit"></div>
                </a>              
            </td>
            <td>
                             
            </td>
          </tr>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
    <a routerLink="/properties/create" class="btn btn-primary">Add</a>   
  </div>
</div>