<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Properties</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th style="width: 10px">#</th>
            <th>Name</th>
            <th>Type</th>
            <th>Client</th>
            <th>Location</th>
            <th>Options</th>
          </tr>
          <tr *ngFor="let property of properties">
            <td>{{ property.id }}</td>
            <td>{{ property.name }}</td>
            <td>{{ property.property_type.name }}</td>
            <td>
              <a routerLink="/clients/{{ property.client.id }}">
                  {{ property.client.first_name }} {{ property.client.middle_name }} {{ property.client.last_name }}
              </a>
            </td>
            <td>{{ property.village.name }}</td>
            <td>
                <a routerLink="/properties/{{ property.id }}">
                  <div class="fa fa-eye"></div>
                </a>              
            </td>
          </tr>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
    </div>
    <!-- /.box -->   
  </div>
</div>