<div *ngIf="client" class="row">
  <div class="col-md-6">
    <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Client</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>Name</th>
                <td>{{ client.first_name }} {{ client.middle_name }} {{ client.last_name }}</td>
              </tr>
              <tr>
                <th>Code</th>
                <td>{{ client.code }}</td>
              </tr>
              <tr>
                <th>Type</th>
                <td>{{ client.client_type.name }}</td>
              </tr>
              <tr>
                <th>TIN</th>
                <td>{{ client.tin }}</td>
              </tr>
              <tr>
                <th>Phone</th>
                <td>{{ client.phone }}</td>
              </tr>
              <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
              </tr>
              <tr>
                <th>Postal address</th>
                <td>{{ client.postal_address }}</td>
              </tr>
              <tr>
                <th>Physical address</th>
                <td>{{ client.physical_address }}</td>
              </tr>
              <tr>
                <th>Registered</th>
                <td>{{ client.created_at | date }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
  </div>
  <div class="col-md-6">
    <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Business Report</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user-2">
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked">
                <li><a href="#">Registered properties <span class="pull-right badge bg-blue">{{ client.properties_count }}</span></a></li>
                <li><a href="#">Rented properties <span class="pull-right badge bg-aqua">{{ client.rented_properties_count }}</span></a></li>
                <li><a href="#">Vacant properties <span class="pull-right badge bg-green">{{ client.vacant_properties_count }}</span></a></li>
              </ul>
            </div>
          </div>
          <!-- /.widget-user -->
          <a href="#" class="btn btn-link">Financial Report</a>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->     
  </div>
</div>
<div *ngIf="client" class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Properties</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table *ngIf="client.properties.length > 0" class="table table-bordered">
            <tr>
              <th style="width: 10px">#</th>
              <th>Name</th>
              <th>Type</th>
              <th>Location</th>
              <th>Registered</th>
              <th>View</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            <tr *ngFor="let property of client.properties">
              <td>{{ property.id }}</td>
              <td>
                  {{ property.name }}
              </td>
              <td>{{ property.property_type.name }}</td>
              <td>{{ property.village.name }}</td>
              <td>{{ property.created_at | date }}</td>
              <td>
                  <a routerLink="/properties/{{ property.id }}">
                  <i class="fa fa-eye"></i>
                </a>                
              </td>
              <td>
                <a routerLink="/properties/{{ property.id }}/edit">
                  <div class="fa fa-edit"></div>
                </a>                
              </td>
              <td></td>
            </tr>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->  
      <a routerLink="/properties/create" class="btn btn-primary">Add Property</a> 
    </div>
  </div>