<div *ngIf="customer" class="row">
  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Customer</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
            <tbody>
              <tr>
                <th>First name</th>
                <td>{{ customer.first_name }}</td>
              </tr>
              <tr>
                <th>Middle name</th>
                <td>{{ customer.middle_name }}</td>
              </tr>
              <tr>
                <th>Last name</th>
                <td>{{ customer.last_name }}</td>
              </tr>
              <tr>
                <th>Type</th>
                <td>{{ customer.customer_type.name }}</td>
              </tr>
              <tr>
                <th>TIN</th>
                <td>{{ customer.tin }}</td>
              </tr>
              <tr>
                <th>Phone</th>
                <td>{{ customer.phone }}</td>
              </tr>
              <tr>
                <th>Email</th>
                <td>{{ customer.email }}</td>
              </tr>
              <tr>
                <th>Postal address</th>
                <td>{{ customer.postal_address }}</td>
              </tr>
              <tr>
                <th>Physical address</th>
                <td>{{ customer.physical_address }}</td>
              </tr>
              <tr>
                <th>Registered</th>
                <td>{{ customer.created_at | date }}</td>
              </tr>
            </tbody>
          </table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div>
<div *ngIf="customer" class="row">
  <div class="col-sm-12">
    <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Contracts</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered">
            <tr>
              <th style="width: 10px">#</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Rent per month (TSH)</th>
              <th>Payment Interval (months)</th>
              <th>Duration (months)</th>
              <th>Entered</th>
              <th>Options</th>
            </tr>
            <tr *ngFor="let contract of customer.customer_contracts">
              <td>{{ contract.id }}</td>
              <td>{{ contract.start_date | date }}</td>
              <td>{{ contract.end_date | date }}</td>
              <td>{{ contract.rent_per_month | currency:'TZS' }}</td>
              <td>{{ contract.payment_interval }}</td>
              <td>{{ contract.contract_duration }}</td>
              <td>{{ contract.created_at | date }}</td>
              <td>
                <a routerLink="/leases/{{ contract.id }}"><div class="fa fa-eye"></div></a>
              </td>
            </tr>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->   
  </div>
</div>