<div class="row">
  <div class="col-md-3">
    <!-- Profile Image -->
    <div *ngIf="customer" class="box box-primary">
        <div class="box-body box-profile">
          <h3 class="profile-username text-center">
            {{ customer.first_name }} {{ customer.middle_name }} {{ customer.last_name }}
          </h3>

          <p class="text-muted text-center">{{ customer.customer_type.name }}</p>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Phone</b> <a class="pull-right">{{ customer.phone }}</a>
            </li>
            <li class="list-group-item">
              <b>Email</b> <a class="pull-right">{{ customer.email }}</a>
            </li>
            <li class="list-group-item">
              <b>TIN</b> <a class="pull-right">{{ customer.tin }}</a>
            </li>
            <li class="list-group-item">
              <b>Postal Address</b> <a class="pull-right">{{ customer.postal_address }}</a>
            </li>
            <li class="list-group-item">
              <b>Physical Address</b> <a class="pull-right">{{ customer.physical_address }}</a>
            </li>
            <li class="list-group-item">
              <b>Registered</b> <a class="pull-right">{{ customer.created_at }}</a>
            </li>
          </ul>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
  </div>
</div>
<div *ngIf="customer" class="row">
  <div class="col-sm-12">
    <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Contracts</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered">
            <tr>
              <th style="width: 10px">#</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Rent per month (TSH)</th>
              <th>Payment Interval (months)</th>
              <th>Duration (months)</th>
              <th>Options</th>
            </tr>
            <tr *ngFor="let contract of customer.customer_contracts">
              <td>{{ contract.id }}</td>
              <td>{{ contract.start_date | date }}</td>
              <td>{{ contract.end_date | date }}</td>
              <td>{{ contract.rent_per_month | currency:'TZS' }}</td>
              <td>{{ contract.payment_interval }}</td>
              <td>{{ contract.contract_duration }}</td>
              <td>
                <a routerLink="/leases/{{ contract.id }}"><div class="fa fa-eye"></div></a>
              </td>
            </tr>
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>
      </div>
      <!-- /.box -->   
  </div>
</div>